<footer class="items-start mb-16 mt-4 lg:mt-0 flex flex-col lg:flex-row justify-between text-xs lg:text-sm">
  <div class="flex space-x-1 lg:space-x-1 items-center mb-4 lg:mb-0">
    <div>&copy; 2022, Made with</div>
    <svg class="h-4 w-4 hover:animate-ping" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Heart" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path fill="#DC6660" d="M17.19,4.155c-1.672-1.534-4.383-1.534-6.055,0L10,5.197L8.864,4.155c-1.672-1.534-4.382-1.534-6.054,0  c-1.881,1.727-1.881,4.52,0,6.246L10,17l7.19-6.599C19.07,8.675,19.07,5.881,17.19,4.155z" />
    </svg>
    <div>by <a class="hover:underline" target="_blank" href="https://twitter.com/Lonekp">Lone Kjeldgaard</a></div>
  </div>
  <div class="flex flex-row gap-16">
      <a class="hover:underline" target="_blank" href="https://www.app.brainstormer.online/BRAINd8b32f">Report bugs & suggest features</a>
      <a class="hover:underline" href="/privacy-policy">Privacy policy</a>
  </div>
</footer>