

<!-- To make sure this renders only in the article page, we check the section -->
{{ if eq .Section "blog" }} 

  <script defer type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Blog post",
      "headline": {{ .Title }},
      "description": {{ .Description }},
      "mainEntityOfPage": "True",
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": "https://www.brainstormer.online/images/favicon.png"
        }
      }
    }
  </script>
{{ end }}

<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />