{{ define "main"}}
<div class="flex-col flex bg-white p-2 lg:p-12 h-full mb-4">
{{ partial "logo.html" }}
  <div class="pt-12 lg:px-24 px-8">
</div>
  <div class="lg:px-24 px-8 pb-12 lg:pt-0 pt-4 text-base text-center text-links">
    <p class="font-bold text-8xl text-center">4&#128558;4</p>
    <p>Oops...it looks like this page doesn't exist!</p> </br>
    <p id="title">Try and <a href="{{ "/" | relURL }}">head back to the frontpage</a> to see if what you're looking for can be found there.</p> </br>
    <p>In case you have an idea for what should be here, you can reach me at <a href="mailto: brainstormer.online@gmail.com">brainstormer.online@gmail.com</a></p> </br>
   
    
  </div>
</div>
{{ end }}